@model AdminGenresViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:30px;" scope="col">#</th>
            <th scope="col">Name</th>
            <th style="width:70px;" scope="col">Count</th>
            <th style="width:160px;" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var genre in Model.Genres){
            <tr>
                <th scope="row">@genre.GenreId</th>
                <td>@genre.Name</td>
                <td>@genre.Count</td>
                <td>
                    <a href="/admin/movieUpdate/@genre.GenreId" class="btn btn-warning btn-sm">Update</a>
                    <a href="/admin/" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>