@model AdminMoviesViewModel

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th style="width: 30px" scope="col">#</th>
            <th style="width: 100px" scope="col">Image</th>
            <th scope="col">Title</th>
            <th style="width: 70px" scope="col">Genres</th>
            <th style="width: 160px" scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach(var movie in Model.Movies)
        {
            <tr>
                <th scope="row">@movie.MovieId</th>
                <td><img src="~/img/@movie.ImageUrl" width="80"/></td>
                <td>@movie.Title</td>
                <td>
                    <ul>
                        @foreach(var genre in movie.Genres)
                        {
                            <li>@genre.Name</li>
                        }
                    </ul>
                </td>
                <td>
                    <a href="/admin/movieUpdate/@movie.MovieId" class="btn btn-primary btn-sm">Update</a>
                    <a href="/admin/" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>