@model Movie

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card">
            <img src="~/img/@Model.ImageUrl" alt="@Model.Title" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
            </div>
            <div>
                <a class="btn btn-primary" asp-controller="Movies" asp-action="Details" asp-route-id="@Model.MovieId">details</a>
            </div>
        </div>
    </div>
</div>
