@model MoviesViewModel


<h1>Film Listesi</h1>

<div id="filmler">
    @if (Model.Movies.Count() > 0)
    {
        @foreach (var movie in Model.Movies)
        {
            @await Html.PartialAsync("_Movie", movie)
        }

    }
    else
    {
        <div class="alert alert-warning">Seçilen kategoride film bulunamadı!</div>
    }

</div>

@if (TempData["Message"] != null)
{
    @section messageBox
    {
        @await Html.PartialAsync("_messageBox", TempData["Message"])
    }
}

@section Menu {
    @* @await Html.PartialAsync("_Menu", Model.Genres) *@ @* Partial View eklentisi *@
    @await Component.InvokeAsync("Genres")
}