@model List<Movie>


<h1>Film Listesi</h1>

<div id="filmler">
    @foreach (var movie in Model)
    {
        @await Html.PartialAsync("_Movie", movie)
    }
</div>


@section Menu {
    @await Html.PartialAsync("_Menu") @* Partial View eklentisi *@
}