@model HomePageViewModel

@section Header {
    @await Html.PartialAsync("_Header") @* Partial View eklentisi *@
}

<h1>Film Listesi</h1>

<div id="filmler">
    @foreach(var movie in Model.PopularMovies)
    {
        @await Html.PartialAsync("_Movie", movie)
    }
    
</div>
