@model HomePageViewModel

@section Header {
    @await Html.PartialAsync("_Header") @* Partial View eklentisi *@
}

<h1>Film Listesi</h1>
<hr />

<div class="row row-cols-4 row-cols-md-3">
    @foreach (var movie in Model.PopularMovies)
    {
        @await Html.PartialAsync("_Movie", movie)
    }
</div>
